header{
    height: 100px;
    background: rgb(152, 137, 137);
}

header h1, h2 {
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 25px;
}

header h2{
    font-size: 20px;
    text-transform: none;
}